In [1]:
import os
cwd = os.getcwd()
print(cwd)

C:\crt_users\luci\projects\MachineLforDOL

In [2]:
print(os.name)
import platform
print(platform.system())
print(platform.release())

nt
Windows
10

In [3]:
import pandas as pd
descriptive = pd.read_csv(".//..//data//DOL//descriptive.csv")
# descriptive
descriptive.head(2)

,Sample,Sample A,Sample B,Sample C,Sample D,Sample E,Sample F,Sample G,Sample H,Sample I,Sample J
0,APP Surface Oil,9.9,9.9,9.9,9.9,9.9,9.9,9.9,9.9,9.9,9.9
1,APP Sauce Clarity,4.2,5.9,3.3,4.4,4.6,5.6,3.6,1.2,2.6,4.9